<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.hujiaweibujidao.example"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.hujiaweibujidao.example.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.github.hujiaweibujidao.example.activity.BounceActivity"/>
        <activity android:name="com.github.hujiaweibujidao.example.activity.Bounce2Activity"/>
        <activity android:name="com.github.hujiaweibujidao.example.activity.DemoActivity"/>
        <activity android:name="com.github.hujiaweibujidao.example.activity.Demo2Activity"/>
        <activity android:name="com.github.hujiaweibujidao.example.activity.InterpolatorActivity"/>
        <activity android:name="com.github.hujiaweibujidao.example.activity.EvaluatorActivity"/>
        <activity android:name="com.github.hujiaweibujidao.example.activity.CustomActivity"/>

    </application>

</manifest>